body {
  background-image: url(/imgs/engPhoto.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.ceremonyInfoCont {
  max-width: 70%;
  min-height: 80vh;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ceremonyInfoCont div {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.4) 14%, rgba(50, 50, 50, 0.1) 86%, rgba(50, 50, 50, 0) 100%);
}
.ceremonyInfoCont h2,
.ceremonyInfoCont h3,
.ceremonyInfoCont span,
.ceremonyInfoCont a {
  color: white;
  text-shadow: 3px 3px 2px #323232;
  text-align: center;
}
.ceremonyInfoCont > h2 {
  width: 100%;
  padding: 20px 20px 0;
  background: linear-gradient(90deg, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.4) 14%, rgba(50, 50, 50, 0.1) 86%, rgba(50, 50, 50, 0) 100%);
}
.ceremonyInfoCont h2 {
  font-size: 40px;
}
.ceremonyInfoCont h3 {
  font-size: 33px;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 4px solid white;
}
.ceremonyInfoCont span {
  font-size: 25px;
}
.ceremonyInfoCont b {
  font-size: 28.5px;
}
.ceremonyInfoCont .schedule ul {
  padding: 25px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ceremonyInfoCont .schedule ul li {
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ceremonyInfoCont .schedule ul li a {
  text-decoration: none;
}
.ceremonyInfoCont .otherInfo span:nth-child(even) {
  padding: 12.5px 0 7.5px;
}
.ceremonyInfoCont .links h3 {
  border: none;
}
.ceremonyInfoCont .links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  border: 4px solid white;
  border-right: none;
  border-left: none;
}
.ceremonyInfoCont .links ul li {
  padding: 25px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ceremonyInfoCont .links ul li a {
  text-decoration: none;
  font-weight: bolder;
  border-bottom: 2px solid white;
}
@media all and (max-width: 1199px) and (orientation: portrait) {
  .ceremonyInfoCont {
    max-width: 90%;
  }
  .ceremonyInfoCont h2 {
    font-size: 65px;
  }
  .ceremonyInfoCont h3 {
    font-size: 50px;
  }
  .ceremonyInfoCont div span,
  .ceremonyInfoCont div a,
  .ceremonyInfoCont div b {
    font-size: 40px;
  }
  .ceremonyInfoCont .schedule ul {
    padding: 25px 0 10px;
  }
  .ceremonyInfoCont .schedule ul li {
    padding: 15px 0;
  }
  .ceremonyInfoCont .schedule ul li span b {
    font-size: 45px;
  }
  .ceremonyInfoCont .schedule ul li span i {
    letter-spacing: 2.5px;
  }
  .ceremonyInfoCont .otherInfo span:nth-child(even) {
    padding: 22.5px 0 12.5px;
  }
  .ceremonyInfoCont .otherInfo span b {
    font-size: 45px;
  }
  .ceremonyInfoCont .links ul li:nth-child(0) {
    order: 2;
  }
  .ceremonyInfoCont .links ul li:nth-child(4) {
    order: 2;
  }
}
@media all and (max-width: 1199px) and (orientation: portrait) and (device-height: 653px) and (device-width: 280px) {
  .navHolder {
    height: 60px;
  }
  .mobileNav {
    padding: 80px 0 0 0;
  }
  .mobileNav li a {
    font-size: 20px;
    padding: 15px 60px 15px 10px;
  }
}
@media all and (max-width: 1199px) and (orientation: landscape) {
  .ceremonyInfoCont {
    max-width: 80%;
  }
  .ceremonyInfoCont h2 {
    font-size: 55px;
  }
  .ceremonyInfoCont h3 {
    font-size: 40px;
  }
  .ceremonyInfoCont div span,
  .ceremonyInfoCont div a,
  .ceremonyInfoCont div b {
    font-size: 35px;
  }
  .ceremonyInfoCont .schedule ul {
    padding: 25px 0 10px;
  }
  .ceremonyInfoCont .schedule ul li {
    padding: 15px 0;
  }
  .ceremonyInfoCont .schedule ul li span b {
    font-size: 45px;
  }
  .ceremonyInfoCont .schedule ul li span i {
    letter-spacing: 2.5px;
  }
  .ceremonyInfoCont .otherInfo span:nth-child(even) {
    padding: 22.5px 0 12.5px;
  }
  .ceremonyInfoCont .otherInfo span b {
    font-size: 45px;
  }
  .ceremonyInfoCont .links ul li:nth-child(0) {
    order: 2;
  }
  .ceremonyInfoCont .links ul li:nth-child(4) {
    order: 2;
  }
}
