* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 25px;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-display: swap;
  text-shadow: 3px 3px 2px #323232;
}
.nav {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 100%;
}
.namesNav {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.namesNav > span {
  font-size: 40px;
  letter-spacing: 8px;
  color: white;
  font-family: 'Playfair Display', serif;
  text-shadow: 3px 3px 2px #323232;
  text-align: center;
  background: radial-gradient(circle, rgba(50, 50, 50, 0.4) 0%, rgba(50, 50, 50, 0.1) 86%, rgba(50, 50, 50, 0) 100%);
  border-radius: 50%;
  padding: 25px 50px;
}
@media (max-width: 1199px) {
  .nav {
    display: block;
  }
  .namesNav {
    padding: 25px 0;
  }
  .namesNav > span {
    font-size: 80px;
    letter-spacing: 8px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 3px 3px 2px #323232;
    text-align: center;
    background: radial-gradient(circle, rgba(50, 50, 50, 0.4) 0%, rgba(50, 50, 50, 0.1) 86%, rgba(50, 50, 50, 0) 100%);
    border-radius: 50%;
    padding: 25px 50px;
  }
  .nav-mobile-button {
    justify-self: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    cursor: pointer;
    color: white;
    border-style: none;
    border: none;
    background-color: rgba(30, 30, 30, 0);
  }
  .nav-mobile-button:focus {
    outline: none;
  }
  .nav-mobile-button span {
    position: relative;
    display: block;
    margin: auto;
    width: 24px;
    height: 4px;
    background-color: black;
    transform: rotate(-360deg);
    outline: 1px solid white;
    border-radius: 5px;
    transition: ease-in-out 600ms;
  }
  .nav-mobile-button span:before,
  .nav-mobile-button span:after {
    transform-origin: 1.71429px center;
  }
  .nav-mobile-button span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    transition: all 300ms ease;
    width: 24px;
    height: 4px;
    background-color: black;
    outline: 1px solid white;
    border-radius: 5px;
  }
  .nav-mobile-button span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    transition: all 300ms ease;
    width: 24px;
    height: 4px;
    background-color: black;
    outline: 1px solid white;
    border-radius: 5px;
  }
  .bar {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 100vh;
    z-index: 10;
    background-image: url(/imgs/nav-background.jpeg);
    background-position: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-100%);
    transition: 300ms ease-in-out;
  }
  .mobile .navbar ul {
    max-height: 100%;
    padding: 90px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .mobile .navbar ul li {
    width: 100%;
    border: 2px solid white;
    border-top: none;
    height: 15%;
    padding: 0;
    list-style: none;
  }
  .mobile .navbar ul li a {
    display: block;
    font-size: 1em;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    text-shadow: 3px 3px 2px #323232;
    background-color: rgba(186, 196, 44, 0);
    max-width: 100%;
    height: 100%;
    padding: 15px 25px;
    transition: 150ms ease-in-out;
  }
  .mobile .navbar ul li a:hover {
    background-color: rgba(186, 196, 44, 0.5);
    transition: 150ms ease-in-out;
  }
  .mobile .navbar ul li:nth-child(1) {
    border-top: 2px solid white;
  }
  .mobile .slideMobileNav {
    transform: translateX(0%);
    transition: 300ms ease-in-out;
  }
  .swirly {
    transform: rotate(630deg) !important;
    outline: 0px!important;
    transition: 300ms ease-in-out;
  }
  .swirly:before,
  .swirly:after {
    transform-origin: 1.71429px center !important;
    top: 0!important;
    width: 15px!important;
    outline: 0px!important;
    transition: all 300ms ease-in-out;
  }
  .swirly:before {
    transform: rotate3d(0, 0, 1, -40deg) !important;
  }
  .swirly:after {
    transform: rotate3d(0, 0, 1, 40deg) !important;
  }
}
@media (max-width: 1199px) and (orientation: portrait) {
  .nav-mobile-button {
    height: 60px;
    width: 60px;
    margin: 30px 20px;
    transform: scale(2);
  }
  .mobile .navbar ul {
    overflow: hidden;
    padding: 130px 0 0;
  }
  .mobile .navbar ul li a {
    font-size: 1.8em;
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 50px;
  }
}
@media (max-width: 1199px) and (orientation: landscape) {
  .nav-mobile-button {
    height: 90px;
    width: 60px;
  }
  .mobile .navbar ul li a {
    font-size: 1.4em;
  }
}
@media (max-width: 1199px) and (orientation: landscape) and (min-device-width: 700px) and (min-device-height: 400px) {
  .nav-mobile-button {
    height: 100px;
    width: 60px;
  }
  .mobile .navbar ul li a {
    font-size: 1.4em;
    padding: 14px 25px;
  }
}
@media (max-width: 1199px) and (orientation: landscape) and (device-width: 653px) and (device-height: 280px) {
  .nav-mobile-button {
    height: 68px;
    width: 60px;
  }
  .mobile .navbar ul {
    padding: 68px 0 0;
  }
  .mobile .navbar ul li a {
    padding: 10px 25px;
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (orientation: landscape) and (device-width: 812px) and (device-height: 375px) {
  .nav-mobile-button {
    height: 68px;
    width: 60px;
  }
  .mobile .navbar ul {
    padding: 68px 0 0;
  }
  .mobile .navbar ul li a {
    padding: 13px 25px;
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .bar {
    display: block;
  }
  .bar .navbar {
    width: 100%;
    transform: translateX(0);
    transition: 300ms ease-in-out;
  }
  .bar .navbar ul {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .bar .navbar ul li {
    display: inline-block;
    transform: scale(1);
    transition: 200ms ease-in-out;
  }
  .bar .navbar ul li:hover {
    transform: scale(1.2);
    transition: 200ms ease-in-out;
  }
  .bar .navbar ul li a {
    font-size: 35px;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 0 25px;
    text-decoration: none;
    text-shadow: 3px 3px 2px #323232;
    transition: 250ms ease-in-out;
  }
  .mobile {
    display: none;
  }
  .nav-mobile-button {
    display: none;
  }
}
@media (min-device-width: 676px) {
  .namesNav > span {
    font-size: 60px;
  }
}
