.nav {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
}
.namesNav {
    position: relative;
    z-index: 11;
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    >span {
        font-size: 40px;
        letter-spacing: 8px;
        color: white;
        // color: rgba(225, 225, 225, 0.938);
        font-family: 'Playfair Display', serif;
        text-shadow: 3px 3px 2px rgba(50, 50, 50, 1);
        // text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
        text-align: center;
        // background-color: rgba(50, 50, 50, 0.3);
        background: radial-gradient(circle, rgba(50,50,50,0.4) 0%, rgba(50,50,50,0.1) 86%, rgba(50,50,50,0) 100%);
        border-radius: 50%;
        padding: 25px 50px;
    }
}

@media (min-width: 0px) 
and (max-width: 1199px) {
    .nav {
        display: block;
    }
    .namesNav {
        padding: 25px 0;
    
        >span {
            font-size: 40px;
            letter-spacing: 8px;
            color: white;
            // color: rgba(225, 225, 225, 0.938);
            font-family: 'Playfair Display', serif;
            text-shadow: 3px 3px 2px rgba(50, 50, 50, 1);
            // text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
            text-align: center;
            // background-color: rgba(50, 50, 50, 0.3);
            background: radial-gradient(circle, rgba(50,50,50,0.4) 0%, rgba(50,50,50,0.1) 86%, rgba(50,50,50,0) 100%);
            border-radius: 50%;
            padding: 25px 50px;
        }
    }
    .nav-mobile-button {
        justify-self: flex-start;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        cursor: pointer;
        color: white;
        border-style: none;
        border: none;
        background-color: rgba(30, 30, 30, 0);
        &:focus {
            outline: none;
        }
        span {
            position: relative;
            display: block;
            margin: auto;
            width: 24px;
            height: 4px;
            background-color: black;
            transform: rotate(180deg);
            border-radius: 2px;
            transition: ease-in-out 500ms;
            &:before, &:after {
                transform-origin: 1.71429px center;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: -8px;
                transition: all ease 350ms;
                width: 24px;
                height: 4px;
                background-color: black;
                border-radius: 2px;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                transition: all ease 350ms;
                width: 24px;
                height: 4px;
                background-color: black;
                border-radius: 2px;
            }
        }
    }
    .bar {
        display: none;
    }
    .mobile {
        display: block;

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 60%;
            height: 100vh;
            z-index: 10;
            background-image: url(/imgs/nav-background.jpeg);
            background-position: 85%;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateX(-100%);
            transition: 300ms ease-in-out;

        
            ul {
                max-height: 100%;
                padding: 90px 25px 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                border: 2px solid yellow;
        
                li {
                    padding: 15px 25px;
                    width: 100%;
                    border: 2px solid grey;
                    border-top: none;
                    height: 15%;
        
                    a {
                        font-size: 1em;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        text-decoration: none;
                        text-shadow: 3px 3px 2px rgba(50, 50, 50, 1);
                    }
                    &:nth-child(1) {
                        border-top: 2px solid grey;
                    }
                }

            }
        }
        .slideMobileNav {
            transform: translateX(0%);
            transition: 300ms ease-in-out;
        }
    }



    @media (orientation: portrait) {
        .nav-mobile-button {
            height: 120px;
            width: 90px;

            span {
                width: 36px;
                height: 6px;
                border-radius: 2px;

                &:before, &:after {
                    transform-origin: 5px center;
                }
                &:before {
                    top: -12px;
                    width: 36px;
                    height: 6px;
                    border-radius: 2px;
                }
                &:after {
                    top: 12px;
                    width: 36px;
                    height: 6px;
                }
            }
        }
        .mobile {
            .navbar {
                width: 30%;
            }
        }
        .swirly {
            transform: rotate(990deg) !important;
            transition: 300ms ease-in-out;
                &:before, &:after {
                    transform-origin: 1.71429px center!important;
                    top: 0!important;
                    width: 21.5px!important;
                    transition: 300ms ease-in-out;
                }
                &:before {
                    transform: rotate3d(0,0,1,-40deg)!important;
                    transition: 300ms ease-in-out;
                }
                &:after {
                    transform: rotate3d(0,0,1,40deg)!important;
                    transition: 300ms ease-in-out;
                }
        }
        
    }
    @media (orientation: landscape) {
        .nav-mobile-button {
            height: 90px;
            width: 60px;
        }
        .mobile {
            .navbar {
                width: 35%;
            }
        }
        .swirly {
            transform: rotate(990deg) !important;
            transition: 300ms ease-in-out;
                &:before, &:after {
                    transform-origin: 1.71429px center!important;
                    top: 0!important;
                    width: 15px!important;
                    transition: 300ms ease-in-out;
                }
                &:before {
                    transform: rotate3d(0,0,1,-40deg)!important;
                    transition: 300ms ease-in-out;
                }
                &:after {
                    transform: rotate3d(0,0,1,40deg)!important;
                    transition: 300ms ease-in-out;
                }
        }
        @media (min-width: 500px) {
            
            
        }
    }








}
@media (min-width : 1200px) {
    .bar {
        display: block;
        .navbar {
            width: 100%;
            transform: translateX(0);
            transition: 300ms ease-in-out;
        
            ul {
                padding: 25px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
        
                li {
                    display: inline-block;
                    padding: 0 25px;
        
                    a {
                        font-size: 35px;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        text-decoration: none;
                        text-shadow: 3px 3px 2px rgba(50, 50, 50, 1);
                    }
                }
            }
        }
    }
    .mobile {
        display: none;
    }
}
@media (min-width: 676px) {
    .namesNav {
        >span {
            font-size: 60px;
        }
    }
}
