html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.rsvp {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rsvp img {
  width: 125px;
  height: 125px;
  padding: 0 0 30px 0;
}
.rsvp form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rsvp form ul {
  width: 100%;
  list-style: none;
}
.rsvp form ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.rsvp form ul li > label {
  padding: 10px 0;
}
.rsvp form ul li input {
  height: 30px;
  font-size: 22px;
  text-align: center;
}
.whomWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0px;
  padding: 0px;
  line-height: 0px;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: 250ms ease-in-out;
}
.whomWrap > label {
  opacity: 0;
  text-align: center;
  transition: 250ms ease-in-out;
}
.whomWrap input {
  opacity: 0;
  font-size: 0px;
  transition: 250ms ease-in-out;
}
.whomWrap span {
  opacity: 0;
  text-align: center;
  transition: 250ms ease-in-out;
}
.whomShow {
  max-height: 200px;
  padding: 10px;
  line-height: 25px;
  opacity: 1;
  transition: 250ms ease-in-out;
}
.whomShow > label {
  line-height: 25px;
  padding: 10px;
  opacity: 1;
  transition: 250ms ease-in-out;
}
.whomShow input {
  height: 30px;
  font-size: 22px;
  text-align: center;
  opacity: 1;
  transition: 250ms ease-in-out;
}
.whomShow span {
  line-height: 25px;
  padding: 10px;
  opacity: 1;
  transition: 250ms ease-in-out;
}
#name {
  flex-direction: row;
}
#name div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
#name div > label {
  padding: 10px 0;
}
.radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.radio input {
  position: fixed;
  top: -1000px;
}
.radio label {
  text-align: center;
  margin: 20px;
  transform: scale(1);
  transition: 250ms ease-in-out;
}
.radio input[type="radio"]:checked + label {
  transform: scale(1.5);
  text-shadow: 1px 1px 3px #323232;
  font-weight: 800;
  transition: 250ms ease-in-out;
}
.radio input[type="radio"]:checked + label[class|="yes"] {
  color: lightgreen;
  transition: 250ms ease-in-out;
}
.radio input[type="radio"]:checked + label[class|="no"] {
  color: #CE4C47;
  transition: 250ms ease-in-out;
}
#submit {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 15px;
  border: 4px solid black;
  background-color: white;
  font-family: 'Roboto Slab', serif;
  transition: 250ms ease-in-out;
}
#submit:hover {
  border-color: white;
  background-color: black;
  color: white;
  transition: 250ms ease-in-out;
}
#submit:focus {
  background-color: white;
  color: black;
  border-color: black;
  transition: 0ms;
}
.thankYouWrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: -1;
}
.thankYouWrap #thank-you {
  width: 40vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  border-radius: 25px;
  background-color: rgba(97, 2, 26, 0.9);
}
.thankYouWrap #thank-you span {
  padding: 30px 50px;
  font-size: 2.5vw;
  line-height: 3.5vw;
  text-align: center;
  color: white;
  letter-spacing: 2.5px;
}
.thankYouWrap #thank-you img {
  width: 7.5vw;
  height: auto;
}
.thankYouWrapShow {
  display: flex;
  z-index: 11;
}
@media all and (max-width: 1199px) {
  .rsvp img {
    width: 180px;
    height: 180px;
  }
  .rsvp form ul li {
    padding: 20px 0;
  }
  .rsvp form ul li input {
    height: 45px;
    font-size: 35px;
    padding: 5px;
    max-width: 80%;
  }
  .rsvp form ul li label {
    padding: 10px 0;
  }
  .rsvp #submit {
    padding: 20px 55px;
  }
}
@media all and (max-width: 1199px) and (orientation: portrait) {
  .rsvp label,
  .rsvp input,
  .rsvp span,
  .rsvp a,
  .rsvp #submit {
    font-size: 50px;
  }
  .whomShow {
    max-height: 400px;
    line-height: 50px;
  }
  .whomShow > label {
    line-height: 50px;
  }
  .whomShow input {
    height: 45px;
    font-size: 35px;
    max-width: 80%;
  }
  .whomShow span {
    line-height: 50px;
  }
}
@media all and (max-width: 1199px) and (orientation: landscape) {
  .rsvp label,
  .rsvp input,
  .rsvp span,
  .rsvp a,
  .rsvp #submit {
    font-size: 35px;
  }
  .whomShow {
    max-height: 400px;
    line-height: 35px;
  }
  .whomShow > label {
    line-height: 35px;
  }
  .whomShow input {
    height: 45px;
    font-size: 35px;
    max-width: 80%;
  }
  .whomShow span {
    line-height: 35px;
  }
}
