html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}


.rsvp {
     margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 125px;
        height: 125px;
        padding: 0 0 30px 0;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            width: 100%;
            list-style: none;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px 0;

                >label {
                    padding: 10px 0;
                }
                input {
                    height: 30px;
                    font-size: 22px;
                    text-align: center;
                }
            }
        }
    }
}
#name {
    flex-direction: row;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px; 
    }
}
.radio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    input {
        position: fixed;
        top: -1000px;
    }
    label {
        text-align: center;
        margin: 20px;
        transform: scale(1);
        transition: 250ms ease-in-out;
    }
    input[type="radio"]:checked+label {
        transform: scale(1.5);
        text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
        font-weight: 800;
        transition: 250ms ease-in-out;
    }
    input[type="radio"]:checked+label[class|="yes"] {
        color: lightgreen;
        transition: 250ms ease-in-out;
    }
    input[type="radio"]:checked+label[class|="no"] {
        color: #CE4C47;
        transition: 250ms ease-in-out;
    }
}
#submit {
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 15px;
    border: 4px solid black;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    transition: 250ms ease-in-out;

    &:hover {
        border-color: white;
        background-color: black;
        color: white;
        transition: 250ms ease-in-out;
    }
    &:focus {
        background-color: white;
        color: black;
        border-color: black;
        transition: 0ms;
    }
}


@media all and (max-width: 1199px) {

    .rsvp {
        img {
            width: 180px;
            height: 180px;
        }
        form {
            ul {
                li {
                    padding: 20px 0;
                    input {
                        height: 45px;
                        font-size: 35px;
                        padding: 5px;
                        max-width: 80%;
                    }
                    label {
                        padding: 10px 0;
                    }
                }
            }
        }
        #submit {
            padding: 20px 55px;
        }
    }
    @media (orientation: portrait) {
        .rsvp {
            label, input, span, a, #submit {
                font-size: 50px;
            }
        }
        @media (device-height: 653px) and (device-width: 280px) {
            
        }
    }
    @media (orientation: landscape) {
        .rsvp {
            label, input, span, a, #submit {
                font-size: 35px;
            }
        }
        @media (device-width: 653px) and (device-height: 280px) {
            
        }
        @media (min-width: 700px) and (min-height: 400px) {
            
        }
    }
}